@{
    ViewData["Title"] = "Sender";
}

<input type="text" id="messageInput" placeholder="Введите сообщение..." />
<button id="sendButton">Отправить</button>
<script>
    async function sendMessage() {
        const messageInput = document.getElementById("messageInput");
        const messageText = messageInput.value;

        if (!messageText) {
            alert("Введите сообщение!");
            return;
        }

        const message = {
            Id: 0,
            Text: messageText,
            TimeStap: "",
            SequenceNumber: 1 
        };
        console.log(message);

        try {
            const response = await fetch("https://localhost:7271/api/Message", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(message)
            });

            if (response.ok) {
                console.log("Сообщение успешно отправлено!");
                messageInput.value = ""; 
            } else {
                console.error("Ошибка при отправке сообщения:", response.statusText);
            }
        } catch (error) {
            console.error("Ошибка при отправке запроса:", error);
        }
    }
    document.getElementById("sendButton").addEventListener("click", sendMessage);

</script>
   